.form-content
    margin: auto
    margin-top: 25px
    .submit
        font-size: 16pt
    h1
        margin-bottom: 40px
    .form-group
        margin-bottom: 40px
        font-size: 14pt
        label
            font-size: 16pt
    .btn-secondary
        cursor: auto
    .btn-primary
        background-color: #111750
        border-color: #6a6a6a
        color: #ffffff
        transition: background 250ms linear
        &:hover
            background-color: #2d3791
            border-color: #6a6a6a
            color: #ffffff
            cursor: pointer
        &:active
            background-color: #2d3791

.form-file-label
    margin-bottom: 25px

@media (min-width: 1024px)
    .form-content
        max-width: 880px

@media (min-width: 768px) and (max-width: 1023px)
    .form-content
        max-width: 570px

@media (min-width: 1px) and (max-width: 767px)
    .form-content
        max-width: 260px
