.card-obj {
  min-width: 270px;
  max-width: 270px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
