$card-width: 270px
$card-margins: 20px

.card-obj
  min-width: $card-width
  max-width: $card-width
  margin-left: $card-margins
  margin-right: $card-margins
  margin-top: $card-margins
  margin-bottom: $card-margins

.cards
  display: flex
  flex-direction: row
  flex-flow: wrap
  margin: auto

@media (min-width: 1024px)
  .cards
    max-width: 960px

@media (min-width: 768px) and (max-width: 1023px)
  .cards
    max-width: 640px

@media (min-width: 1px) and (max-width: 767px)
  .cards
    max-width: 320px