.topNav
  background-color: #584131
  height: 60px
  & a
    color: white
    &:hover
      color: white
  & .navToggle
    border-radius: 10px
    background-color: #584131
    padding: 4px 15px 7px 15px
    position: absolute
    right: 20px
    top: 10px
    z-index: 4
    transition: background-color .1s linear
    &:hover
      background-color: #bb7636
      cursor: pointer
    &:active
      cursor: pointer
      background-color: #bb7636
      box-shadow: 0px 0px 0px 2px gray
    & .hamburger
      position: relative
      top: 2px
      & .cylinder
        border-radius: 50px
        width: 20px
        height: 4px
        margin: 3px 0 3px 0
        background-color: white
  & .leftLink
    font-size: 16pt
    float: left
    margin: 12px 0 0 20px
    transition: color .1s linear
    &:hover
      color: #cecece
  & .rightLinks-menu
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: black
    opacity: 40%
    z-index: 1
    &-closed
      display: none
  & .rightLinks
    position: absolute
    left: 0
    top: 0
    width: 100%
    z-index: 2
    &-closed ul
      transform: scaleY(0)
      & li a
        opacity: 0
        visibility: hidden
    & ul
      position: relative
      margin-top: 60px
      background-color: #886a55
      padding: 0
      z-index: 2
      transform: scaleY(1)
      transform-origin: top
      transition: transform .7s ease-in-out
      & li
        text-align: center
        width: 100%
        margin: auto
        padding: 10px 0 10px 0
        display: block
        transition: background-color .1s linear
        &:hover
          background-color: #b6937a
        & a
          visibility: visible
          opacity: 1
          display: block
          color: #EEEEEE
          width: 100%
          height: 100%
          transition: opacity .3s ease-in
          transition-delay: .7s

@media ( min-width: 768px )
  .topNav
    & .navToggle
      display: none
    & .rightLinks-menu
      display: none
      &-closed
        display: none
    & .rightLinks
      display: inline
      float: right
      &-closed
        display: inline
        height: 100%
        float: right
        & ul
          margin-top: 18px
          float: right
          transform: scaleY(1)
          & li a
            opacity: 1
            visibility: visible
        & li
          margin: 0 12px 0 12px
          display: inline
          width: auto
          & a
            display: inline

      & ul
        margin-top: 8px
        float: right
        background-color: transparent
        & li
          margin: 0 12px 0 12px
          border-bottom: 0
          display: inline-block
          width: auto
