.card {
  width: 18rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

h5 {
  text-align: left;
}

p {
  text-align: left;
}

.link-container {
  text-align: left;
}

.menu-dots {
  float: right;
  opacity: 100%;
  transition: 0.2s;
}

.menu-dots:hover {
  opacity: 50%;
}

.btn-primary {
  background-color: #95c93d;
  border-color: #95c93d;
}

.btn-primary:hover {
  background-color: #65990d;
  border-color: #65990d;
}
