.tagFilter-container
  display: flex
  flex-wrap: wrap
.tagFilter-content
  margin: 10px 10px 10px 10px
  & div
    display: inline
  & span
    display: inline
    cursor: pointer
    margin-right: 4px
    &:hover
      background-color: #b1b1b1

@media (min-width: 1024px)
  .tagFilter-container
    display: inline
  .tagFilter-content
    display: inline
